<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="My_Personal_Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <My_Personal_Server.Properties.Settings>
            <setting name="root" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="start_checkBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="close_checBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="clear_logs_checBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="startServerChkBx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="startMinChkBx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="node" serializeAs="String">
                <value>""</value>
            </setting>
        </My_Personal_Server.Properties.Settings>
    </userSettings>
</configuration>